:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

#root {
  margin: 0 auto;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

#Box {
  padding: 10px;
  background-color: #9ccdd9;
}

