.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  margin: auto 0;
  margin-left: 7px;
}

#Modal {
  position: fixed;
  left: 0;
  top: 50%;
  margin: auto;
  margin-top: -25%;
  z-index: 2;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
  padding: 10px;
}

@keyframes animation-move {
  from {
    opacity: 0;
    transform: translateX(-35%);
  } to {
    opacity: 1;
    transform: translateX(0%);
  }
}

#card {
  width: 90%;
  margin: auto;
  padding: 10px;
  animation: animation-move 0.35s;
  animation-direction: normal;
  box-shadow:  4px 4px 8px #385180, -1px -1px 1px #97AACC;
}

#statusContainer {
  display: block;
  align-items: center;
}


#date {
  margin: auto 0;
}

#editButtons {
  margin-left: auto;
}

#notFound {
  margin: auto;
}

#searchStatus {
  align-items: center;
  align-content: center;
  text-align: center;
}

#containerTaskListHeader {
  width: 90%;
  margin: auto;
}